In [1]:
import tarfile
import os

# Define the path to your .tar file
tar_file_path = 'yelp_dataset.tar'  # Replace with your actual file name

# Extracting the .tar file in the current directory
with tarfile.open(tar_file_path, 'r') as tar:
    tar.extractall()  # Extracts to the current working directory
    tar.close()

# List the extracted files
extracted_files = os.listdir()
print(extracted_files)

['.html', '.idea', '.ipynb_checkpoints', '070820241212L50018666 (1).PDF', '070820241212L50018666.PDF', '14100372-eng', '14100372-eng.zip', '14100406-eng.zip', '14100432-eng.zip', '14100432.csv', '1709831144231 1.CSV', '2020_Policy_Survey_for_Public_Release_nolabel[1].csv', '2024S-M07-T1-G1.PDF', '3 Proof of Guaranteed Investment Certificate (GIC) -Riya (1).pdf', '3 Proof of Guaranteed Investment Certificate (GIC) -Riya.pdf', '3.docx', '4255130.pdf', '500236809_Riya Kalpeshkumar_Shah_M07M_Letter-of-Acceptance (1)_new.pdf', '500236809_Riya Kalpeshkumar_Shah_M07M_Letter-of-Acceptance.pdf', '9949a550470b0eaaba4b7fddb022befd.pptx', 'AI.pdf', 'AISC 1004 - case study 2.pdf', 'Alabama.ipynb', 'All_states_census_data 1.zip', 'Anaconda3-2023.09-0-Windows-x86_64.exe', 'Application Accepted ðŸ‡¨ðŸ‡¦ - Welcome to your Preparation Portal.eml', 'Application Package [Authentication Not Performed].pdf', 'Application Package [Authentication Successful].pdf', 'Application Results.pdf', 'archive.zip', 'Assignment - 5_group_6.docx', 'Assignment5_Stats.xlsx', 'bank_data_train.csv', 'best_model.pkl', 'Book Recommendation System.zip', 'Books.csv.zip', 'Book_Recommendation_System (1).ipynb', 'Book_Recommendation_System.ipynb', 'Canada documents', 'category.csv', 'CENSUS_2006_FAMILY_INC_0.csv', 'CertificateOfCompletion_Excel Introduction to Charts and Graphs.pdf', 'CertificateOfCompletion_SQL Practice Basic Queries.pdf', 'chest_xray_transfer_learning.ipynb', 'chest_xray_transfer_learning.py', 'ChromeSetup.exe', 'churn_data_bank (1)', 'churn_data_bank (1).zip', 'churn_data_bank.zip', 'Classification_kaggle_test.csv.zip', 'Classificatio_kaggle_train.csv.zip', 'Cognify_Step_2_Project_1.ipynb', 'Consumer-Product_Demand.xlsx', 'covid19casesdemographics (1).csv', 'covid19casesdemographics.csv', 'CPAIS-Framework-and-Case-Studies-9-23.pdf', 'cpsnov22.pdf', 'Customers.csv', 'customer_support_tickets.csv.zip', 'Cv_Riya_shah_.docx', 'Daily_work_Sheet.xlsx', 'data folder', 'Data Warehouse Assignment (1).docx', 'database.sqlite', 'dataset', 'dataset.zip', 'Dataset_User_Agreement.pdf', 'DB.Browser.for.SQLite-v3.13.0-win64.msi', 'deeplearningwithpython.pdf', 'delivery_partner.csv', 'Deploy.zip', 'desktop.ini', 'Dictionaries.py', 'Drug_clean.csv', 'DSMP 2022-23 SQL Joins.pdf', 'Employees.csv', 'Eric_Matthes_Python_Crash_Course_A_Hands.pdf', 'Errors_PracticeQuestion.py', 'federalelections2020 (1).pdf', 'federalelections2020.pdf', 'Fees receipt revised.pdf', 'field_dataset.csv', 'Food-Safety_Getting_Started_Guide_2021-1.pdf', 'food.csv', 'from url to csv file', 'GitHubDesktopSetup-x64.exe', 'Group Assignment 1.docx', 'Group Exercise.pdf', 'Group Network.pdf', 'HealthCareDataSet - Sheet1.csv', 'hr emails - r.xlsx', 'ICA4_GroupF (1).xlsx', 'ICA4_GroupF.xlsx', 'ICAE#6-10%-S24.xlsx', 'image (1).png', 'img.jpg', 'IMM0535_2-15QWV35N (1).pdf', 'IMM0535_2-15QWV35N.pdf', 'IMM5739_2-14TXBBXZ.pdf', 'IMM5740_2-15QWV33V.pdf', 'IMM5756_2-14WVJK9C (1).pdf', 'IMM5756_2-14WVJK9C.pdf', 'IMM5825_2-15QWV344.pdf', 'In-class Case Study 1.pdf', 'index.html.txt', 'Install-GooglePlayGames-Beta.exe', 'insurance_data - insurance_data.csv', 'insurance_data.csv', 'invoice.pdf', 'IPL_Ball_by_Ball_2008_2022.csv', 'kaggle.json', 'LCO881239069_receipt_flywire_fees_receipt.pdf', 'Lecture_2.pptx', 'Letter.docx', 'loan-test (1).xlsx', 'loan_approval_dataset (1).csv', 'loan_approval_dataset.csv', 'Loan_predictiondashboarding.pbix', 'Loan_prediction_1.ipynb', 'LockDownBrowser-2-1-2-06-455127677.exe', 'logistic_regression_model.pkl', 'loyalist password.txt', 'Loyalist_college_result.jpg', 'menu.csv', 'ML Group Exercise 2.ipynb - Colab.html', 'ML Group Exercise 2.ipynb - Colab_files', 'ML.pdf', 'ML.pptx', 'model.h5', 'movies (1).csv', 'movies.csv', 'mysql-connector-net-8.3.0.msi', 'mysql-installer-community-8.0.35.0.msi', 'Named Entity Recognition System using Deep Learning.ipynb', 'ner.py', 'new_ner_bankstatement.py', 'NHS_2011_EC_FAMILY_INCOME_0.csv', 'NumpyExercise.html', 'Offer_Letter _ Webmobi360.co - AIML _ Riya Shah.pdf', 'ole_gc_aff.seb', 'onlineStatement.pdf', 'orders.csv', 'order_details.csv', 'pic 4.jpg', 'Power_bi', 'Practical+Statistics+for+Data+Scientists+50++Essential+Concepts+Using+R+and+Python+by+Peter+Bruce,+Andrew+Bruce,+Peter+Gedeck (1).pdf', 'Practical+Statistics+for+Data+Scientists+50++Essential+Concepts+Using+R+and+Python+by+Peter+Bruce,+Andrew+Bruce,+Peter+Gedeck.pdf', 'PrimeNumberCheck.py', 'product-recommendation-system-amazon-beauty.ipynb', 'Products.csv', 'pycharm-professional-2023.2.5.exe', 'python_code_groupD_AISC1003_group_assignment.html', 'Quora_end_to_end.ipynb', 'Ratings.csv.zip', 'ratings_Beauty.csv.zip', 'README.md', 'restaurants.csv', 'Result.pdf', 'Retail_Data_Orders_W23 (1).csv', 'Retail_Data_W23 (1).csv', 'Retail_Data_W23.csv', 'Retail_Unlabeled_Data (1).csv', 'reyaan.txt', 'Riya resume 1.docx', 'Riya Shah parttime__.docx', 'Riya _Shah.pdf', 'Riya_Cashier cover letter.docx', 'Riya_CV_copy.docx', 'Riya_portfolio.html', 'Riya_portfolio_files', 'Riya_Shah.pdf', 'Riya_shah_.docx', 'Riya_shah_CV - Copy (2).docx', 'Riya_shah_CV - Copy.docx', 'Riya_shah_CV.docx', 'Riya_shah_CV_ - Copy (1).docx', 'Riya_shah_CV_ - Copy.pdf', 'Riya_shah_CV_.pdf', 'Riya_shah_CV_copy - Copy.docx', 'Riya_shah_CV_doc - Copy (1).pdf', 'Riya_shah_CV_doc - Copy.pdf', 'Riya_shah_CV_doc.docx', 'Riya_shah_CV_transcript.docx', 'Riya_shah_CV_Walmart.docx', 'Riya_shah_parttime - Copy.docx', 'Riya_Shah_parttime.docx', 'Riya_shah_Resume - Copy (2).docx', 'Riya_shah_Resume 2 - Copy.docx', 'Riya_shah_Resume 2 .XML.docx', 'Riya_shah_resume.pdf', 'Riya_shah_walmart.docx', 'Riya_shah__ (1).docx', 'Riya_shah__ (2).docx', 'Riya_shah__.docx', 'Riya_shah__resume.docx', 'Riya_shah__Security_resume.docx', 'Riya_shah__Tutor_resume.docx', 'Riya_Tutor_cover_letter.docx', 'Sales1.csv', 'Security Resume 2 (1).docx', 'Security Resume 2.docx', 'SECURITY.pdf', 'Session on Central Limit Theorem.pdf', 'smartphones_cleaned_v6.csv', 'SQL script', 'Statistics.pdf', 'Store (1).csv', 'Store (2).csv', 'Store.csv', 'table02c.xlsx', 'Tarun_Data_Science_CV.pdf', 'time_table__.docx', 'toronto police clearence.pdf', 'Tourism Chatbot.docx', 'train.csv', 'train.csv.zip', 'Transaction Approved.pdf', 'Tuples_and_Strings.py', 'uber dataset.ipynb', 'uber.csv', 'undergraduate_certificate.jpeg', 'undergraduate_certificate.pdf', 'Undergraduate_transcript.jpeg', 'Untitled design.jpg', 'Untitled design.png', 'Untitled.ipynb', 'Updated CIF - Student  27042021-Gujarat.pdf', 'users.csv', 'Users.csv.zip', 'vote01_2022.xlsx', 'vote02_2022_2.xlsx', 'Wealthsimple - Intern, Data Science (Summer 2024).mhtml', 'Week 13 - Session 30 Hand Written Notes.pdf', 'Week3.pptx', 'WhatsApp Image 2024-04-16 at 2.12.35 AM.jpeg', 'WhatsApp Image 2024-04-17 at 5.26.51 PM (1).jpeg', 'WhatsApp Image 2024-04-17 at 5.26.51 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.03.39 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.20.48 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.21.54 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.28.56 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.31.05 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.32.30 PM.jpeg', 'WhatsApp Image 2024-04-26 at 5.34.32 PM.jpeg', 'WhatsApp Image 2024-06-03 at 11.00.50 AM.jpeg', 'WhatsApp Image 2024-06-19 at 11.32.24 AM.jpeg', 'WhatsApp Image 2024-06-19 at 11.36.13 AM.jpeg', 'WhatsApp Image 2024-06-19 at 11.37.40 AM.jpeg', 'WhatsApp Image 2024-06-20 at 10.29.31 PM.jpeg', 'WhatsApp Image 2024-07-12 at 8.05.33 PM.jpeg', 'WhatsApp Image 2024-08-24 at 9.47.55 PM.jpeg', 'WhatsApp Image 2024-08-29 at 11.02.07 PM.jpeg', 'WhatsApp Image 2024-09-11 at 12.04.31 AM.jpeg', 'WhatsApp Image 2024-09-13 at 9.30.48 PM.jpeg', 'Window Functions Part 2.pdf', 'Wk1-2 - Introduction I - Basics_PPT 1.pptx', 'Wk3 - All About Data I - Data Abstraction_PPT 2.pptx', 'yelp_academic_dataset_business.json', 'yelp_academic_dataset_checkin.json', 'yelp_academic_dataset_review.json', 'yelp_academic_dataset_tip.json', 'yelp_academic_dataset_user.json', 'yelp_dataset.tar', 'yoga-pose-image-classification-dataset.zip', 'Youtube_api_DA.ipynb', 'youtube_api_da.py']

In [46]:
import json
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [47]:
df1 = pd.read_json('yelp_academic_dataset_business.json',lines=True)

In [48]:
df2 = pd.read_json('yelp_academic_dataset_checkin.json',lines=True)

In [49]:
#df3 = pd.read_json('yelp_academic_dataset_review.json',lines=True)

In [50]:
df4 = pd.read_json('yelp_academic_dataset_tip.json',lines=True)

In [51]:
df5 = pd.read_json('yelp_academic_dataset_user.json',lines=True)

In [52]:
df1.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [53]:
df2.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [54]:
df4.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [55]:
df5.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91,250,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,3.74,1145,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,3.32,89,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,4.27,24,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,3.54,1,1,0,0,0,1,1,0,0,0,0

In [56]:
df1.shape

(150346, 14)

In [57]:
df2.shape

(131930, 2)

In [58]:
df4.shape

(908915, 5)

In [59]:
df5.shape

(1987897, 22)

In [60]:
df5.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [61]:
df5.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [62]:
df5['average_stars'].value_counts()

average_stars
5.00    356368
1.00    165899
3.00    111842
4.00    102764
3.67     50379
         ...
1.49        11
1.34        11
1.03         5
1.02         3
1.01         1
Name: count, Length: 401, dtype: int64

In [63]:
merged_df = pd.merge(df1, df2, on='business_id', how='inner')

In [64]:
merged_df = pd.merge(merged_df, df4, on='business_id', how='inner')

In [65]:
merged_df = pd.merge(merged_df, df5, on='user_id', how='inner')

In [66]:
# df3_subset = df3.sample(n=50000, random_state=42)

In [67]:
merged_df.shape

(903105, 40)

In [68]:
merged_df.isnull().sum()

business_id               0
name_x                    0
address                   0
city                      0
state                     0
postal_code               0
latitude                  0
longitude                 0
stars                     0
review_count_x            0
is_open                   0
attributes            12635
categories               29
hours                 61244
date_x                    0
user_id                   0
text                      0
date_y                    0
compliment_count          0
name_y                    0
review_count_y            0
yelping_since             0
useful                    0
funny                     0
cool                      0
elite                     0
friends                   0
fans                      0
average_stars             0
compliment_hot            0
compliment_more           0
compliment_profile        0
compliment_cute           0
compliment_list           0
compliment_note           0
compliment_plain          0
compliment_cool           0
compliment_funny          0
compliment_writer         0
compliment_photos         0
dtype: int64

In [69]:
merged_df.head()

,business_id,name_x,address,city,state,postal_code,latitude,longitude,stars,review_count_x,is_open,attributes,categories,hours,date_x,user_id,text,date_y,compliment_count,name_y,review_count_y,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...","2011-12-12 23:30:26, 2014-05-23 20:31:34, 2014...",trf3Qcz8qvCDKXiTgjUcEg,Dropping off my Amazon return.,2011-12-12 23:30:26,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
1,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None,"2012-04-16 22:28:12, 2012-04-20 22:38:55, 2012...",trf3Qcz8qvCDKXiTgjUcEg,"First time here. So far, bread has no flavor,...",2012-06-15 02:35:12,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
2,lB6jIOb1UBATmdfot4KJew,Soco's Gyros,5530 S Lindbergh Blvd,Saint Louis,MO,63123,38.524535,-90.355678,4.0,126,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Delis, Kebab, Turkish, Mediterranean, Greek, R...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...","2010-03-24 18:34:54, 2010-06-24 19:29:39, 2010...",trf3Qcz8qvCDKXiTgjUcEg,Friendly counter girl today!,2012-10-09 20:35:47,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
3,lB6jIOb1UBATmdfot4KJew,Soco's Gyros,5530 S Lindbergh Blvd,Saint Louis,MO,63123,38.524535,-90.355678,4.0,126,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Delis, Kebab, Turkish, Mediterranean, Greek, R...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...","2010-03-24 18:34:54, 2010-06-24 19:29:39, 2010...",trf3Qcz8qvCDKXiTgjUcEg,"One deluxe veggie wrap, please.",2012-10-05 19:34:14,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
4,lB6jIOb1UBATmdfot4KJew,Soco's Gyros,5530 S Lindbergh Blvd,Saint Louis,MO,63123,38.524535,-90.355678,4.0,126,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Delis, Kebab, Turkish, Mediterranean, Greek, R...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...","2010-03-24 18:34:54, 2010-06-24 19:29:39, 2010...",trf3Qcz8qvCDKXiTgjUcEg,Gold Peak Tea available.,2012-08-08 16:49:22,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8

In [70]:
merged_df.columns

Index(['business_id', 'name_x', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count_x', 'is_open',
       'attributes', 'categories', 'hours', 'date_x', 'user_id', 'text',
       'date_y', 'compliment_count', 'name_y', 'review_count_y',
       'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans',
       'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos'],
      dtype='object')

In [71]:
merged_df.describe()

,latitude,longitude,stars,review_count_x,is_open,date_y,compliment_count,review_count_y,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000,903105.000000
mean,35.865134,-89.658155,3.742364,353.642540,0.780308,2015-06-08 10:04:08.887022592,0.012563,150.323948,820.818535,366.203620,606.105792,29.202785,3.826360,46.709383,5.052266,3.385261,2.093981,1.136100,43.653500,118.979875,80.745078,80.745078,24.387701,41.359087
min,27.564457,-120.095137,1.000000,5.000000,0.000000,2009-04-16 13:11:49,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.962704,-90.297890,3.500000,46.000000,1.000000,2013-01-20 13:00:00,0.000000,8.000000,5.000000,1.000000,1.000000,0.000000,3.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,38.599336,-86.297489,4.000000,138.000000,1.000000,2015-03-05 23:49:34,0.000000,30.000000,29.000000,6.000000,8.000000,1.000000,3.930000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
75%,39.929793,-75.607596,4.000000,357.000000,1.000000,2017-07-26 10:51:20,0.000000,128.000000,203.000000,54.000000,80.000000,9.000000,4.280000,4.000000,2.000000,0.000000,0.000000,0.000000,8.000000,9.000000,9.000000,9.000000,5.000000,2.000000
max,53.649743,-74.658572,5.000000,7568.000000,1.000000,2022-01-19 20:38:55,6.000000,17473.000000,206296.000000,185823.000000,195814.000000,12497.000000,5.000000,25784.000000,4138.000000,6411.000000,2974.000000,2413.000000,59031.000000,101097.000000,49967.000000,49967.000000,15934.000000,56104.000000
std,5.393381,14.423140,0.687893,688.579872,0.414038,NaN,0.120923,362.906997,4187.796837,2356.105568,3541.220967,170.630545,0.757011,348.475058,28.167189,34.820294,19.499348,13.448896,330.504495,741.221700,483.837421,483.837421,137.314493,366.397164

In [72]:
pd.set_option('display.max_columns', None)

#  Here our target column is is_open through we decide the business is open or not 

# This is a binary classification problem

In [73]:
merged_df.head(3)

,business_id,name_x,address,city,state,postal_code,latitude,longitude,stars,review_count_x,is_open,attributes,categories,hours,date_x,user_id,text,date_y,compliment_count,name_y,review_count_y,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...","2011-12-12 23:30:26, 2014-05-23 20:31:34, 2014...",trf3Qcz8qvCDKXiTgjUcEg,Dropping off my Amazon return.,2011-12-12 23:30:26,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
1,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None,"2012-04-16 22:28:12, 2012-04-20 22:38:55, 2012...",trf3Qcz8qvCDKXiTgjUcEg,"First time here. So far, bread has no flavor,...",2012-06-15 02:35:12,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8
2,lB6jIOb1UBATmdfot4KJew,Soco's Gyros,5530 S Lindbergh Blvd,Saint Louis,MO,63123,38.524535,-90.355678,4.0,126,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Delis, Kebab, Turkish, Mediterranean, Greek, R...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...","2010-03-24 18:34:54, 2010-06-24 19:29:39, 2010...",trf3Qcz8qvCDKXiTgjUcEg,Friendly counter girl today!,2012-10-09 20:35:47,0,Kurt,114,2009-03-28 16:32:26,282,56,116,"2010,2011,2012","QKHjF7QTXit3EsXk96Z8nA, nX0eR4hwiIB_6N9pnLZr5w...",6,3.19,27,1,0,0,0,76,113,66,66,14,8

In [74]:
columns_to_drop = ['business_id', 'user_id', 'address','name_x','name_y','postal_code','friends','text','attributes','categories','date_x','date_y','yelping_since']  

# Drop the columns and retain the rest
merged_df = merged_df.drop(columns=columns_to_drop)

In [75]:
merged_df.head(3)

,city,state,latitude,longitude,stars,review_count_x,is_open,hours,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,Affton,MO,38.551126,-90.335695,3.0,15,1,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",0,114,282,56,116,"2010,2011,2012",6,3.19,27,1,0,0,0,76,113,66,66,14,8
1,Affton,MO,38.565165,-90.321087,3.0,19,0,None,0,114,282,56,116,"2010,2011,2012",6,3.19,27,1,0,0,0,76,113,66,66,14,8
2,Saint Louis,MO,38.524535,-90.355678,4.0,126,1,"{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...",0,114,282,56,116,"2010,2011,2012",6,3.19,27,1,0,0,0,76,113,66,66,14,8

#  Splitting dataset into x and y

In [76]:
x = merged_df.drop(['is_open'],axis=1)
y = merged_df['is_open']

In [77]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [78]:
print("The shape of x_train is",x_train.shape)
print("The shape of x_test is",x_test.shape)
print("The shape of y_train is",y_train.shape)
print("The shape of y_test is",y_test.shape)

The shape of x_train is (722484, 26)
The shape of x_test is (180621, 26)
The shape of y_train is (722484,)
The shape of y_test is (180621,)

#  Exploratory data analysis and feature engineering

In [79]:
unique_cities_count = merged_df['city'].nunique()
print(f'There are {unique_cities_count} distinct cities.')

unique_state_count = merged_df['state'].nunique()
print(f'There are {unique_state_count} distinct states.')

There are 1173 distinct cities.
There are 20 distinct states.

#  For State column using one hot encoder while for cities column using label encoding

# Label encoding will work well with random forest and XGBoost

#  Feature engineering on x_train data

In [80]:
x_train = pd.get_dummies(x_train, columns=['state'])

In [81]:
le = LabelEncoder()
x_train['city'] = le.fit_transform(x_train['city'])

In [82]:
x_train.head()

,city,latitude,longitude,stars,review_count_x,hours,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,state_AB,state_AZ,state_CA,state_CO,state_DE,state_FL,state_ID,state_IL,state_IN,state_LA,state_MO,state_MT,state_NJ,state_NV,state_PA,state_SD,state_TN,state_TX,state_UT,state_WA
373792,622,36.159143,-86.778517,4.0,232,"{'Monday': '8:30-17:30', 'Tuesday': '8:30-17:3...",0,3,0,1,0,,0,4.00,0,0,0,0,0,0,0,0,0,0,0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
765457,991,32.224197,-110.974065,4.5,469,"{'Monday': '11:0-15:0', 'Tuesday': '9:0-21:0',...",0,7,7,3,2,,0,3.43,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
609605,764,39.478612,-119.787933,4.0,287,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:0', ...",0,50,50,9,14,,1,3.17,0,0,0,0,0,1,1,3,3,1,1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
789512,991,32.295523,-111.018558,4.0,16,"{'Monday': '9:0-17:0', 'Tuesday': '8:0-17:0', ...",0,216,864,335,547,2014,30,3.96,33,3,0,2,0,27,33,43,43,17,5,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
731730,420,39.763680,-86.161425,4.0,8,None,0,18,7,1,3,,4,4.84,0,0,0,0,0,0,3,4,4,0,4,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [83]:
x_train.drop(['hours'],axis=1)

,city,latitude,longitude,stars,review_count_x,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,state_AB,state_AZ,state_CA,state_CO,state_DE,state_FL,state_ID,state_IL,state_IN,state_LA,state_MO,state_MT,state_NJ,state_NV,state_PA,state_SD,state_TN,state_TX,state_UT,state_WA
373792,622,36.159143,-86.778517,4.0,232,0,3,0,1,0,,0,4.00,0,0,0,0,0,0,0,0,0,0,0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
765457,991,32.224197,-110.974065,4.5,469,0,7,7,3,2,,0,3.43,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
609605,764,39.478612,-119.787933,4.0,287,0,50,50,9,14,,1,3.17,0,0,0,0,0,1,1,3,3,1,1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
789512,991,32.295523,-111.018558,4.0,16,0,216,864,335,547,2014,30,3.96,33,3,0,2,0,27,33,43,43,17,5,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
731730,420,39.763680,-86.161425,4.0,8,0,18,7,1,3,,4,4.84,0,0,0,0,0,0,3,4,4,0,4,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,629,29.930502,-90.075599,4.5,160,0,39,59,25,19,,5,3.98,0,0,0,0,0,2,4,1,1,1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
365838,991,32.219825,-110.808621,3.5,13,0,98,71,6,11,,2,3.15,0,1,0,0,0,2,3,2,2,0,1,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
131932,991,32.265416,-110.928332,4.5,53,0,236,521,95,244,"2016,2017,2018,2019,20,20,2021",17,4.19,3,2,0,1,0,5,24,32,32,14,6,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
671155,420,39.768686,-86.153518,4.0,567,0,144,116,13,28,2013,3,3.78,1,0,0,0,0,4,9,1,1,2,0,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
121958,629,29.930253,-90.090741,4.5,7,0,269,396,154,285,"2019,20,20,2021",12,3.71,3,5,1,1,0,20,11,15,15,15,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

#  One hot encoding on elite column

In [84]:
le = LabelEncoder()
x_train['elite'] = le.fit_transform(x_train['elite'])

In [85]:
x_train.head()

,city,latitude,longitude,stars,review_count_x,hours,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,state_AB,state_AZ,state_CA,state_CO,state_DE,state_FL,state_ID,state_IL,state_IN,state_LA,state_MO,state_MT,state_NJ,state_NV,state_PA,state_SD,state_TN,state_TX,state_UT,state_WA
373792,622,36.159143,-86.778517,4.0,232,"{'Monday': '8:30-17:30', 'Tuesday': '8:30-17:3...",0,3,0,1,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
765457,991,32.224197,-110.974065,4.5,469,"{'Monday': '11:0-15:0', 'Tuesday': '9:0-21:0',...",0,7,7,3,2,0,0,3.43,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
609605,764,39.478612,-119.787933,4.0,287,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:0', ...",0,50,50,9,14,0,1,3.17,0,0,0,0,0,1,1,3,3,1,1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
789512,991,32.295523,-111.018558,4.0,16,"{'Monday': '9:0-17:0', 'Tuesday': '8:0-17:0', ...",0,216,864,335,547,597,30,3.96,33,3,0,2,0,27,33,43,43,17,5,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
731730,420,39.763680,-86.161425,4.0,8,None,0,18,7,1,3,0,4,4.84,0,0,0,0,0,0,3,4,4,0,4,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [96]:
x_train = x_train.replace({True: 1, False: 0})

In [97]:
x_train.head()

,city,latitude,longitude,stars,review_count_x,hours,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,state_AB,state_AZ,state_CA,state_CO,state_DE,state_FL,state_ID,state_IL,state_IN,state_LA,state_MO,state_MT,state_NJ,state_NV,state_PA,state_SD,state_TN,state_TX,state_UT,state_WA
373792,622,36.159143,-86.778517,4.0,232,"{'Monday': '8:30-17:30', 'Tuesday': '8:30-17:3...",0,3,0,1,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
765457,991,32.224197,-110.974065,4.5,469,"{'Monday': '11:0-15:0', 'Tuesday': '9:0-21:0',...",0,7,7,3,2,0,0,3.43,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
609605,764,39.478612,-119.787933,4.0,287,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:0', ...",0,50,50,9,14,0,1,3.17,0,0,0,0,0,1,1,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
789512,991,32.295523,-111.018558,4.0,16,"{'Monday': '9:0-17:0', 'Tuesday': '8:0-17:0', ...",0,216,864,335,547,597,30,3.96,33,3,0,2,0,27,33,43,43,17,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
731730,420,39.763680,-86.161425,4.0,8,None,0,18,7,1,3,0,4,4.84,0,0,0,0,0,0,3,4,4,0,4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [86]:
x_train.shape

(722484, 45)

In [87]:
y_train.shape

(722484,)

# x_test preprocessing

In [89]:
x_test = pd.get_dummies(x_test, columns=['state'])

In [90]:
le = LabelEncoder()
x_test['city'] = le.fit_transform(x_test['city'])

In [91]:
x_test = x_test.drop(['hours'],axis=1)

In [92]:
le = LabelEncoder()
x_test['elite'] = le.fit_transform(x_test['elite'])

In [98]:
x_test = x_test.replace({True: 1, False: 0})

In [99]:
x_test.head()

,city,latitude,longitude,stars,review_count_x,compliment_count,review_count_y,useful,funny,cool,elite,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,state_AB,state_AZ,state_CA,state_CO,state_DE,state_FL,state_ID,state_IL,state_IN,state_LA,state_MO,state_NJ,state_NV,state_PA,state_SD,state_TN
844232,591,40.040250,-75.066111,4.0,206,0,3,2,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
563365,187,28.019678,-82.770352,3.0,24,2,2,0,0,0,0,1,5.00,0,1,0,0,0,0,0,2,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
29037,513,36.174049,-86.761396,3.5,570,0,5,5,1,3,0,4,5.00,0,1,1,0,0,10,2,2,2,2,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
557440,633,39.879137,-75.312110,2.0,29,0,10,10,6,3,0,0,3.45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
424769,591,39.942714,-75.152139,4.0,716,0,246,699,168,298,392,11,3.86,6,2,1,0,0,10,7,6,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [100]:
x_test.shape

(180621, 40)

In [101]:
y_test.shape

(180621,)

In [102]:
x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False)